resource "aws_ebs_volume" "ebs_block" {
  availability_zone = "us-east-2b"
  size              = 20
}

resource "aws_ebs_volume" "ebs_object_a" {
  availability_zone = "us-east-2b"
  size              = 20
}

resource "aws_ebs_volume" "ebs_object_b" {
  availability_zone = "us-east-2b"
  size              = 20
}

resource "aws_volume_attachment" "ebs_att_block" {
  device_name = "/dev/sdd"
  volume_id   = aws_ebs_volume.ebs_block.id
  instance_id = aws_spot_instance_request.block.id
}

resource "aws_volume_attachment" "ebs_att_object_a" {
  device_name = "/dev/sdd"
  volume_id   = aws_ebs_volume.ebs_object_a.id
  instance_id = aws_spot_instance_request.object.id
}

resource "aws_volume_attachment" "ebs_att_object_b" {
  device_name = "/dev/sde"
  volume_id   = aws_ebs_volume.ebs_object_b.id
  instance_id = aws_spot_instance_request.object.id
}
